<template name="header">
 <header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{{pathFor route='board_list'}}">Easy Board</a>
    </div>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-right">
      {{> loginButtons}}
     </ul>
    </div>
  </nav>
 </header>
</template>